{% import "_includes/forms" as forms %}

{{ forms.selectField({
	label: "Icon Family"|t,
	instructions: "Select the icon family you would like to use for this field.",
	id: 'vendor',
	name: 'vendor',
	options: vendors,
	values: settings.vendor
}) }}

{{ forms.lightswitchField({
	label: "Default Icon?"|t,
	instructions: "Display a default icon when no icon selected."|t,
	id: 'defaultIcon',
	name: 'defaultIcon',
	on: settings.defaultIcon,
}) }}

{{ forms.textField({
	label: "Default Icon Class"|t,
	name: 'defaultIconClass',
	value: settings.defaultIconClass
}) }}